<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inclusão digital</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>

<body>

<header>
    <img class="logo" th:src="@{/css/fotos/logo-.png}" alt="Conectando Gerações">
    <nav class="navigation">
        <a th:href="@{/index}">Home</a>
        <a href="#">Módulos</a>
        <a href="#">Suporte</a>
        <a href="#">Perfil</a>
        <a th:href="@{/login}" class="btnLogin-popup">Login</a>
    </nav>
</header>

<div class="wrapper">
    <div class="form-box register">
        <h2>Cadastro</h2>

        <div th:if="${erro}" style="color: red; text-align: center; margin-bottom: 10px;">
            <p th:text="${erro}"></p>
        </div>

        <form th:action="@{/cadastro}" th:object="${usuarioDTO}" method="post">

            <div class="input-box">
                <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
                <input type="text" th:field="*{nome}" required>
                <label>Nome</label>
            </div>
            <div class="input-box">
                <span class="icon"><ion-icon name="calendar-outline"></ion-icon></span>
                <input type="text" th:field="*{dataNascimento}" required> <label>Data de nascimento</label>
            </div>
            <div class="input-box">
                <span class="icon"><ion-icon name="card-outline"></ion-icon></span>
                <input type="text" th:field="*{cpf}" required>
                <label>CPF</label>
            </div>
            <div class="input-box">
                <span class="icon"><ion-icon name="transgender-outline"></ion-icon></span>
                <input type="text" th:field="*{genero}" required>
                <label>Gênero</label>
            </div>
            <div class="input-box">
                <span class="icon"><ion-icon name="id-card-outline"></ion-icon></span>
                <input type="text" th:field="*{rg}" required>
                <label>RG</label>
            </div>
            <div class="input-box">
                <span class="icon"><ion-icon name="mail-outline"></ion-icon></span>
                <input type="email" th:field="*{email}" required>
                <label>E-mail</label>
            </div>
            <div class="input-box">
                <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
                <input type="password" th:field="*{senha}" required>
                <label>Senha</label>
            </div>
            <div class="input-box">
                <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
                <input type="password" th:field="*{confirmacaoSenha}" required> <label>Confirmação de senha</label>
            </div>
            <div class="input-box">
                <span class="icon"><ion-icon name="call-outline"></ion-icon></span>
                <input type="tel" th:field="*{celular}" required>
                <label>Celular</label>
            </div>
            <button type="submit" class="btn">Cadastrar</button>
            <div class="login-register">
                <p>Já tem uma conta? <a th:href="@{/login}" class="login-link">Login</a></p>
            </div>
        </form>
    </div>
</div>
</body>
</html>