<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inclusão digital</title>
    <link rel="stylesheet" href="main.css">
</head>

<body>

<header>
    <img class="logo" src="fotos/logo-.png" alt="Conectando Gerações">
    <nav class="navigation">
        <a href="#">Home</a>
        <a href="#">Módulos</a>
        <a href="#">Suporte</a>
        <a href="#">Perfil</a>
        <button class="btnLogin-popup">Login</button>
    </nav>
</header>

<div class="wrapper">
    <div class="form-box register">
        <h2>Cadastro</h2>
        <form action="endereço.html">
            <div class="input-box">
                <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
                <input type="text" required>
                <label>Nome</label>
            </div>
            <div class="input-box">
                <span class="icon"><ion-icon name="calendar-outline"></ion-icon></span>
                <input type="text" required>
                <label>Data de nascimento</label>
            </div>
            <div class="input-box">
                <span class="icon"><ion-icon name="card-outline"></ion-icon></span>
                <input type="text" required>
                <label>CPF</label>
            </div>
            <div class="input-box">
                <span class="icon"><ion-icon name="transgender-outline"></ion-icon></span>
                <input type="text" required>
                <label>Gênero</label>
            </div>
            <div class="input-box">
                <span class="icon"><ion-icon name="id-card-outline"></ion-icon></span>
                <input type="text" required>
                <label>RG</label>
            </div>
            <div class="input-box">
                <span class="icon"><ion-icon name="mail-outline"></ion-icon></span>
                <input type="email" required>
                <label>E-mail</label>
            </div>
            <div class="input-box">
                <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
                <input type="password" required>
                <label>Senha</label>
            </div>
            <div class="input-box">
                <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
                <input type="password" required>
                <label>Confirmação de senha</label>
            </div>
            <div class="input-box">
                <span class="icon"><ion-icon name="call-outline"></ion-icon></span>
                <input type="tel" required>
                <label>Celular</label>
            </div>
            <button type="submit" class="btn">Cadastrar</button>
            <div class="login-register">
                <p>Já tem uma conta? <a href="login.html" class="login-link">Login</a></p>
            </div>
        </form>
    </div>
</div>


<script src="script.js"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>