<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inclusão digital</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>

<body>

<header>
    <img class="logo" th:src="@{/css/fotos/logo-.png}" alt="Conectando Gerações">
    <nav class="navigation">
        <a th:href="@{/index}">Home</a>
        <a href="#">Módulos</a>
        <a href="#">Suporte</a>
        <a href="#">Perfil</a>
        <a th:href="@{/login}" class="btnLogin-popup">Login</a>
    </nav>
</header>

<div class="wrapper">
    <div class="form-box recover-password">
        <h2>Recuperar Acesso</h2>
        <p>Informe o email cadastrado no sistema para receber as instruções de recuperação</p>
        <div class="input-box">
            <span class="icon"><ion-icon name="mail-outline"></ion-icon></span>
            <input type="email" required>
            <label>Email cadastrado</label>
        </div>
        <a th:href="@{/emailEnviado.html}" class="btn">Enviar instruções</a>
        <div class="back-to-login">
            <a th:href="@{/login}" class="btn-secondary">Voltar ao login</a>
        </div>
    </div>
</div>


<script src="script.js"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>