<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Formulário Simples</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<h2>Cadastro De Usuario</h2>
<form action="/userForms" method="post">
    <label for="name">Nome:</label><br>
    <input type="text" id="name" name="name" required><br><br>

    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email" required><br><br>

    <button type="submit">Enviar</button>
</form>
</body>
</html>
